body {
	background-image: url(../img/2.jpg);
	background-size: cover;
}



/*navbar*/
.bg-daftar {
	border: 2px solid white;
	font-size: 15px;
	padding: 12px 18px;
	transition: .5s;
	color: white;
}
.bg-daftar:hover {
	background-color: #fff;
	color: black;
}
.input, .input-2 {
	border: 1px solid white;
	opacity: 0;
	width: 0;
	outline: none;
	border-radius: 50px;
	background-color: transparent;
	color: #fff;
	padding-left: 7px;
	padding-right: 7px;
	margin-top: 5px;
	transition: .4s;
}

.search-transition {
	width: 200px;
	opacity: 1;
}



@media (max-width: 990px) {
	.input {
		position: absolute;
		top: 63px;
		left: 168px;
	}
}
@media (max-width: 899px) {
	.input {
		position: absolute;
		top: 65px;
		left: 130px;
	}
}
@media (max-width: 793px) {
	.input {
		position: absolute;
		top: 65px;
		left: 80px;
	}
}
@media (max-width: 767px) {
	.input {
		position: absolute;
		top: 65px;
		left: 160px;
	}
}
@media (max-width: 729px) {
	.input {
		position: absolute;
		top: 65px;
		left: 140px;
	}
}
@media (max-width: 680px) {
	.input {
		position: absolute;
		top: 65px;
		left: 120px;
	}
}


@media (max-width: 610px) {
	.input {
		position: absolute;
		top: 65px;
		left: 80px;
	}
}

@media (max-width: 580px) {
	.input {
		position: absolute;
		top: 63px;
		left: 60px;
	}
}
@media (max-width: 575px) {
	.input {
		position: absolute;
		top: 63px;
		left: 45px;
	}
}

/*akhir navbar*/


/*jumbotron*/
.lead, .jumbotron h1 {
	text-shadow: 6px 2px 4px black;
}
/*akhir jumbotron*/

/*card*/
.card {
	background: none;
	color: white;
	/*text-shadow: 1px 1px 1px black;*/
	/*border: 1px solid white;*/
	box-shadow: 2px 3px 7px -2px white;
}

.card-daftar {
	background: #fff !important;
	color: black;
	box-shadow: none;
}
.card img {
	/*border: 1px solid white;*/
}
/*akhir card*/

/*responsive navbar collapse*/
@media (max-width: 990px) {
	.navbar-collapse {
		background-color: #0f0f27;
		padding: 10px;
		border-radius: 10px;
	}
	
}